<h3>{{ItemDetailsCtrl.menuName}}</h3>
<table class="table table-condensed">
                <thead>
                                <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Small Price</th>
                                        <th>Large price</th>
                                        <th>Small Portion</th>
                                        <th>Large Portion</th>
                                </tr>
                </thead>
                <tr ng-repeat="item in  ItemDetailsCtrl.itemDetails">
                        <td> {{item.id}}</td>
                        <td> {{item.name}}</td>
                        <td> {{item.description}}</td>
                        <td> {{item.price_small}}</td>
                        <td> {{item.price_large}}</td>
                        <td> {{item.small_portion_name}}</td>
                        <td> {{item.large_portion_name}}</td>
                        
                </tr>
</table>